body{
    overflow-x: hidden;
}

.navbar{
    background-color: lightgoldenrodyellow;
    width: 1400px;
    height: 100px;
    padding: 2rem 0 2rem;
}

.nav a:hover{
    color: lightcoral;
}

.nav-link{
    color: green;
}

#navbarNavAltMarkup{
    position: relative;
    left: 650px;
}

.main{
    background-image: url("img/study.jpg");
    height: 500px;
    background-position: center;
    /* background-attachment: fixed; */
}

.main h2{
    padding-top: 100px;
    text-align: center;
}

.main p{
    text-align: center;
    padding-top: 30px;
}

.main .btn{
    margin-top: 150px;
    margin-left: 600px;
}

.products h2{
    text-align: center;
}

.card-body{
    text-align: center;
}

.card:hover{
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.50);
}

.explore .btn{
    margin-left: 550px;
}

.content-img{
    float: right;
    position: relative;
    bottom: 365px;
    /* left: 120px; */
}

.slide {
    background-color: slategrey;
    text-align: center;
}
  
.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
    position: relative;
    bottom: 40px;
}
  
.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 0px auto 50px;
}

.team{
    padding: 50px 50px 0px;
    height: 550px;
}

.team h2, .feedback h2, .about_us h2, .blogs h2, .services h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.team_container{
    display: flex;
}

.team_video{
    width: 50%;
    padding: 20%;
    position: relative;
    bottom: 170px;
    right: 180px;
    padding-bottom: 0;
}

.team_video iframe{
    height: 130%;
    width: 1000%;
    border: 5px solid yellowgreen;
}

.team_content{
    padding: 5%;
    position: relative;
    top: 50px;
    padding-bottom: 0;
}

.team_content p{
    line-height: 2;
}

#testimonials .clients{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 0px;

}

.feedback{
    background-image: url(img/back_img.jpg);
    background-size: cover;
}

.feedback .form-control{
    text-align: center;
}

.form{
    margin-left: 300px;
}

@media(max-width: 1000px){
    .form{
        margin-left: 250px;
    }

    .team{
        text-overflow: hidden;
    }
}

footer{
    background-color: black;
}

footer h3{
    color: white;
}

footer a{
    text-decoration: none;
    color: brown;
    padding-left: 15px;
}

footer .doc{
    text-align: center;
    margin-bottom: 25px;
}

footer .social{
    text-align: center;
    margin-bottom: 25px;
}

footer p{
    background-color: green;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.doc h3{
    margin-left: 20px;
}

.doc a{
    color: white;
}

.copyright{
    text-align: center;
    color: brown;
}

footer .contact{
    text-align: center;
}

@media (max-width: 1080px) {

    .navbar-brand{
        position: relative;
        bottom: 60px;
    }

    #navbarNavAltMarkup{
        position: absolute;
        left: 500px;
        top: 10px;
    }

    .main-content .btn{
        position: relative;
        right: 250px;
    }

    .explore .btn{
        position: relative;
        right: 200px;
    }

    .clients{
        margin-right: 300px;
        /* margin-top: 0px; */
    }
}

.html_form{
    padding: 50px;
    margin-left: 300px;
}

form{
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

form h2{
    color: blue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

form input, select{
    width: 90%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-left: 2px solid orange;
}

form input:focus, form select:focus {
    border-left: 3px solid blue;
}

form button{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: orange;
    color: blue;
    font-weight: bold;
    font-family: Verdana;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px black;
}

.about_us{
    padding: 80px;
}

.about_us p{
    padding: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    font-family: cosmic, sans-serif;
}

.contact_container{
    padding: 80px;
}

.contact_container h2{
    text-align: center;
    color: orange;
}

.contact_container .google_map{
    border: 5px solid purple;
}

.contact_content{
    padding: 20px 20px 0;
    /* text-align: center; */
}